/* General Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styling */

:root {
  font-size: 16px;
  font-family: "Oxygen Mono", monospace;
  font-weight: 200;
  font-style: normal;
  /* Variables */
  --smaller-text: .8rem;
  --small-text: .9rem;
  --bg-color: #BED;
  --fg-color: #111;
}

body {
  padding: 1rem;
  line-height: 1.6;
  color: var(--fg-color);
  background: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  padding-bottom: .5rem;
}

h1 {
  padding-bottom: 0;
}

h2 {
  padding-top: 2rem;
}

.expand-all {
  padding-top: .5rem;
  font-size: var(--small-text);
}

.expand-all a {
  text-decoration: unset;
}

footer {
  padding-top: 3rem;
  font-size: var(--small-text);
}

a {
  color: unset;
  opacity: .7;
}


/* Artwork items styling */

.year:after {
  content: '⋅';
  margin-left: .2rem;
  margin-right: -.3rem;
}

.type {
  font-size: var(--small-text);
}

.type:before {
  font-size: var(--smaller-text);
  content: '(';
}

.type:after {
  font-size: var(--smaller-text);
  content: ')';
}

.content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.description {
  font-size: var(--small-text);
  padding-top: .5rem;
  padding-left: .5rem;
  text-align: justify;
}

.description-eng,
.description-de {
  padding-bottom: .5rem;
}

.description-de {
  font-style: italic;
}

.description-de i {
  font-style: normal;
}

ol {
  padding-left: 2.2em;
}

.cover {
  width: 400px;
  height: intrinsic;
  max-height: 400px;
  padding-left: 2rem;
}


@media screen and (max-width: 1080px) {

  .description {
    padding-left: 0;
  }

  /* Magic to make the cover work good also on smaller screens */
  .cover {
    width: min(400px, 100%);
    max-height: unset;
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: 1rem;
  }

  /* Magic to make the cover work good also on smaller screens */
  .content {
    flex-direction: column;
  }
}

/* Magic to print a nicely paginated PDF from the website */

@media print {
  :root {
    font-size: 12px;
    --bg-color: none;
    --fg-color: black;
  }

  .cover {
    width: 200px;
  }

  .expand-all {
    display: none;
  }

  /* Headings start a new page */
  h2 {
    break-before: always;
    page-break-before: always;
  }

  /* Keep summary and content together */
  details {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}
